/* CSS style
Primary Colour: #aad4cf */

body{
    background-color: #aad4cf;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* adding a container*/
.container{
    max-width: 1100px;
    margin: 0 auto;
    background-color:lightcyan
}
header img{
    width: 100%;}
h1{
    color: white;
    position:relative;
    top: 50%;
    left: 50%;
}
    
