/* CSS style
Primary Colour: #aad4cf */

body{
    background-color: #aad4cf;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* adding a container*/
.container{
    max-width: 1100px;
    margin: 0 auto;
    background-color: #b0e7e1;
}
main {
    padding: 1rem;
}

/* all about the header */
#header-image {
    width: 100%;
}

#header-title {
    position: absolute;
    top: 32%;
    left: 38%;
    font-size: 3rem;
    color: #fff;
}

/* inline menu styling */
nav ul li {
    display: inline-block;
    color: #000;
    width: 20rem;
    height: 5rem;
    
}

nav {
    text-align: center;
}

a {
    text-decoration: none;
    color:#000;
    font-size: 2rem;
}
}

/* all about the first article */

#article-title {
    font-size: 2rem;
}

#article-image {
    float: left;
    margin: 1rem;
    width: 15%;
}

/* all about the sections */

.section-title {
    font-size: 1.5rem;
}

/* styling of the form */
form {
    border: #000 1px solid;
}

#form-format {
    padding: 1rem;
}

#form-format label {
    display: block;
}

#form-format input, textarea {
    width: 100%;
}

h4 {
    margin: 0%;
}
.radio-format {
    margin: 0%;
    padding: 0rem 1rem 1rem 1rem;
}

.button-format {
    background-color: #b0e7e1; 
    border: #000 1px solid;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 1rem;
    cursor: pointer;
}

footer{
    padding: 1rem;
    text-align: right;
}
